In [1]:
import yfinance as yf
import pandas as pd

# Specify the stock symbol and time period
stock_symbol = "AAPL"  # Apple Inc. is used as an example
start_date = "2015-01-01"
end_date = "2024-02-11"

# Fetch historical data using yfinance
data = yf.download(stock_symbol, start=start_date, end=end_date, interval='1d')

# Display the fetched data
print(data.head())

# Save the data to a CSV file (optional)
data.to_csv(f"{stock_symbol}_30min_data.csv")

# Note: The 'interval' parameter in yfinance is used to specify the time interval (e.g., '1d' for daily, '1wk' for weekly, '1mo' for monthly, '30m' for 30 minutes, etc.)

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2015-01-02  27.847500  27.860001  26.837500  27.332500  24.435272  212818400
2015-01-05  27.072500  27.162500  26.352501  26.562500  23.746893  257142000
2015-01-06  26.635000  26.857500  26.157499  26.565001  23.749123  263188400
2015-01-07  26.799999  27.049999  26.674999  26.937500  24.082134  160423600
2015-01-08  27.307501  28.037500  27.174999  27.972500  25.007435  237458000

In [9]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02,27.847500,27.860001,26.837500,27.332500,24.435272,212818400
2015-01-05,27.072500,27.162500,26.352501,26.562500,23.746893,257142000
2015-01-06,26.635000,26.857500,26.157499,26.565001,23.749123,263188400
2015-01-07,26.799999,27.049999,26.674999,26.937500,24.082134,160423600
2015-01-08,27.307501,28.037500,27.174999,27.972500,25.007435,237458000
...,...,...,...,...,...,...
2024-02-05,188.149994,189.250000,185.839996,187.679993,187.440811,69668800
2024-02-06,186.860001,189.309998,186.770004,189.300003,189.058762,43490800
2024-02-07,190.639999,191.050003,188.610001,189.410004,189.168625,53439000
2024-02-08,189.389999,189.539993,187.350006,188.320007,188.080017,40962000
2024-02-09,188.649994,189.990005,188.000000,188.850006,188.850006,45155200

In [17]:
dfAAPL=data[['Volume','Adj Close']]

dfAAPL

               Volume   Adj Close
Date
2015-01-02  212818400   24.435272
2015-01-05  257142000   23.746893
2015-01-06  263188400   23.749123
2015-01-07  160423600   24.082134
2015-01-08  237458000   25.007435
...               ...         ...
2024-02-05   69668800  187.440811
2024-02-06   43490800  189.058762
2024-02-07   53439000  189.168625
2024-02-08   40962000  188.080017
2024-02-09   45155200  188.850006

[2292 rows x 2 columns]

In [18]:
dfAAPL['Adj Close']=dfAAPL['Adj Close'].pct_change()
dfAAPL=dfAAPL.dropna()
dfAAPL

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

               Volume  Adj Close
Date
2015-01-05  257142000  -0.028172
2015-01-06  263188400   0.000094
2015-01-07  160423600   0.014022
2015-01-08  237458000   0.038423
2015-01-09  214798000   0.001072
...               ...        ...
2024-02-05   69668800   0.009847
2024-02-06   43490800   0.008632
2024-02-07   53439000   0.000581
2024-02-08   40962000  -0.005755
2024-02-09   45155200   0.004094

[2291 rows x 2 columns]

In [19]:
dfAAPL['Adj Close']=dfAAPL['Adj Close'].shift(-1)

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
dfAAPL

               Volume  Adj Close
Date
2015-01-05  257142000   0.000094
2015-01-06  263188400   0.014022
2015-01-07  160423600   0.038423
2015-01-08  237458000   0.001072
2015-01-09  214798000  -0.024641
...               ...        ...
2024-02-05   69668800   0.008632
2024-02-06   43490800   0.000581
2024-02-07   53439000  -0.005755
2024-02-08   40962000   0.004094
2024-02-09   45155200        NaN

[2291 rows x 2 columns]

In [21]:
dfAAPL=data[['Volume','Adj Close']]

dfAAPL

               Volume   Adj Close
Date
2015-01-02  212818400   24.435272
2015-01-05  257142000   23.746893
2015-01-06  263188400   23.749123
2015-01-07  160423600   24.082134
2015-01-08  237458000   25.007435
...               ...         ...
2024-02-05   69668800  187.440811
2024-02-06   43490800  189.058762
2024-02-07   53439000  189.168625
2024-02-08   40962000  188.080017
2024-02-09   45155200  188.850006

[2292 rows x 2 columns]

In [22]:
dfAAPL['Adj Close']=dfAAPL['Adj Close'].pct_change(1)
dfAAPL=dfAAPL.dropna()
dfAAPL

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

               Volume  Adj Close
Date
2015-01-07  160423600  -0.014452
2015-01-08  237458000   0.053082
2015-01-09  214798000   0.054113
2015-01-12  198603200   0.013921
2015-01-13  268367600  -0.014926
...               ...        ...
2024-02-05   69668800   0.017787
2024-02-06   43490800   0.013058
2024-02-07   53439000   0.019155
2024-02-08   40962000   0.003410
2024-02-09   45155200  -0.001104

[2289 rows x 2 columns]

In [23]:
dfAAPL['Adj Close']=dfAAPL['Adj Close'].shift(-1)

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
dfAAPL

               Volume  Adj Close
Date
2015-01-07  160423600   0.013921
2015-01-08  237458000  -0.014926
2015-01-09  214798000  -0.019730
2015-01-12  198603200  -0.022243
2015-01-13  268367600  -0.038378
...               ...        ...
2024-02-05   69668800   0.003410
2024-02-06   43490800  -0.001104
2024-02-07   53439000        NaN
2024-02-08   40962000        NaN
2024-02-09   45155200        NaN

[2289 rows x 2 columns]

In [28]:
df=pd.DataFrame()

for i in range(1,70,2):
    
    df=data[['Volume','Adj Close']]
    df['Adj Close']=df['Adj Close'].pct_change(i)
    df['Adj Close']=df['Adj Close'].shift(-i)
    df=df.rename(columns={'Adj Close':str(i)+'PctChange'})
    df=df.dropna()
    display(df)

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  1PctChange
Date
2015-01-02  212818400   -0.028172
2015-01-05  257142000    0.000094
2015-01-06  263188400    0.014022
2015-01-07  160423600    0.038423
2015-01-08  237458000    0.001072
...               ...         ...
2024-02-02  102518000    0.009847
2024-02-05   69668800    0.008632
2024-02-06   43490800    0.000581
2024-02-07   53439000   -0.005755
2024-02-08   40962000    0.004094

[2291 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  3PctChange
Date
2015-01-02  212818400   -0.014452
2015-01-05  257142000    0.053082
2015-01-06  263188400    0.054113
2015-01-07  160423600    0.013921
2015-01-08  237458000   -0.014926
...               ...         ...
2024-01-31   55467800    0.017787
2024-02-01   64885400    0.013058
2024-02-02  102518000    0.019155
2024-02-05   69668800    0.003410
2024-02-06   43490800   -0.001104

[2289 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  5PctChange
Date
2015-01-02  212818400    0.024513
2015-01-05  257142000    0.028235
2015-01-06  263188400    0.037267
2015-01-07  160423600    0.019026
2015-01-08  237458000   -0.045313
...               ...         ...
2024-01-29   47145600   -0.021123
2024-01-30   55859400    0.006701
2024-01-31   55467800    0.027169
2024-02-01   64885400    0.007813
2024-02-02  102518000    0.017439

[2287 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  7PctChange
Date
2015-01-02  212818400    0.008140
2015-01-05  257142000    0.033411
2015-01-06  263188400    0.005270
2015-01-07  160423600   -0.016334
2015-01-08  237458000   -0.028332
...               ...         ...
2024-01-25   54822100   -0.033424
2024-01-26   44594000   -0.016214
2024-01-29   47145600   -0.012100
2024-01-30   55859400    0.001489
2024-01-31   55467800    0.025439

[2285 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  9PctChange
Date
2015-01-02  212818400   -0.022958
2015-01-05  257142000   -0.002447
2015-01-06  263188400    0.023151
2015-01-07  160423600    0.016706
2015-01-08  237458000    0.004558
...               ...         ...
2024-01-23   42355600   -0.038426
2024-01-24   53631300   -0.026735
2024-01-25   54822100   -0.024515
2024-01-26   44594000   -0.021307
2024-01-29   47145600   -0.013764

[2283 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  11PctChange
Date
2015-01-02  212818400    -0.005580
2015-01-05  257142000     0.031059
2015-01-06  263188400     0.057783
2015-01-07  160423600     0.048539
2015-01-08  237458000     0.010814
...               ...          ...
2024-01-19   68741000    -0.020255
2024-01-22   60133900    -0.023673
2024-01-23   42355600    -0.029562
2024-01-24   53631300    -0.031774
2024-01-25   54822100    -0.026158

[2281 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  13PctChange
Date
2015-01-02  212818400     0.028080
2015-01-05  257142000     0.063341
2015-01-06  263188400     0.064370
2015-01-07  160423600     0.012900
2015-01-08  237458000     0.030566
...               ...          ...
2024-01-17   47317400     0.027370
2024-01-18   78005800     0.003552
2024-01-19   68741000    -0.011224
2024-01-22   60133900    -0.028728
2024-01-23   42355600    -0.031197

[2279 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  15PctChange
Date
2015-01-02  212818400     0.034483
2015-01-05  257142000     0.027200
2015-01-06  263188400     0.085169
2015-01-07  160423600     0.103480
2015-01-08  237458000     0.047100
...               ...          ...
2024-01-12   40444700     0.009466
2024-01-16   65603000     0.030877
2024-01-17   47317400     0.036840
2024-01-18   78005800    -0.001643
2024-01-19   68741000    -0.012889

[2277 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  17PctChange
Date
2015-01-02  212818400     0.054697
2015-01-05  257142000     0.119059
2015-01-06  263188400     0.102579
2015-01-07  160423600     0.100975
2015-01-08  237458000     0.060416
...               ...          ...
2024-01-10   46792900     0.008003
2024-01-11   49128400     0.019990
2024-01-12   40444700     0.018772
2024-01-16   65603000     0.025541
2024-01-17   47317400     0.035094

[2275 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  19PctChange
Date
2015-01-02  212818400     0.071618
2015-01-05  257142000     0.116517
2015-01-06  263188400     0.116601
2015-01-07  160423600     0.109606
2015-01-08  237458000     0.076176
...               ...          ...
2024-01-08   59144500     0.011425
2024-01-09   42841800     0.022470
2024-01-10   46792900     0.017294
2024-01-11   49128400     0.014710
2024-01-12   40444700     0.017056

[2273 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  21PctChange
Date
2015-01-02  212818400     0.085246
2015-01-05  257142000     0.125270
2015-01-06  263188400     0.133196
2015-01-07  160423600     0.108115
2015-01-08  237458000     0.074202
...               ...          ...
2024-01-04   71983600     0.031719
2024-01-05   62303300     0.044817
2024-01-08   59144500     0.020748
2024-01-09   42841800     0.017176
2024-01-10   46792900     0.015581

[2271 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  23PctChange
Date
2015-01-02  212818400     0.101375
2015-01-05  257142000     0.123759
2015-01-06  263188400     0.131117
2015-01-07  160423600     0.136906
2015-01-08  237458000     0.120501
...               ...          ...
2024-01-02   82488700     0.010989
2024-01-03   58414500     0.027408
2024-01-04   71983600     0.041229
2024-01-05   62303300     0.039408
2024-01-08   59144500     0.019029

[2269 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  25PctChange
Date
2015-01-02  212818400     0.099355
2015-01-05  257142000     0.152956
2015-01-06  263188400     0.179869
2015-01-07  160423600     0.178275
2015-01-08  237458000     0.140240
...               ...          ...
2023-12-28   34049900    -0.030478
2023-12-29   42628800    -0.016777
2024-01-02   82488700     0.020308
2024-01-03   58414500     0.022090
2024-01-04   71983600     0.039475

[2267 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  27PctChange
Date
2015-01-02  212818400     0.146738
2015-01-05  257142000     0.194909
2015-01-06  263188400     0.200654
2015-01-07  160423600     0.191040
2015-01-08  237458000     0.154955
...               ...          ...
2023-12-26   28919300    -0.027817
2023-12-27   48087700    -0.019933
2023-12-28   34049900    -0.021541
2023-12-29   42628800    -0.021867
2024-01-02   82488700     0.018590

[2265 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  29PctChange
Date
2015-01-02  212818400     0.166940
2015-01-05  257142000     0.207854
2015-01-06  263188400     0.216149
2015-01-07  160423600     0.196816
2015-01-08  237458000     0.161954
...               ...          ...
2023-12-21   46482500    -0.035956
2023-12-22   37122800    -0.022211
2023-12-26   28919300    -0.018855
2023-12-27   48087700    -0.025006
2023-12-28   34049900    -0.023189

[2263 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  31PctChange
Date
2015-01-02  212818400     0.181999
2015-01-05  257142000     0.213712
2015-01-06  263188400     0.223519
2015-01-07  160423600     0.239211
2015-01-08  237458000     0.185911
...               ...          ...
2023-12-19   40714100    -0.047019
2023-12-20   52242800    -0.028384
2023-12-21   46482500    -0.027070
2023-12-22   37122800    -0.027273
2023-12-26   28919300    -0.020508

[2261 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  33PctChange
Date
2015-01-02  212818400     0.189162
2015-01-05  257142000     0.256705
2015-01-06  263188400     0.248745
2015-01-07  160423600     0.199984
2015-01-08  237458000     0.170209
...               ...          ...
2023-12-15  128256700    -0.050058
2023-12-18   55751900    -0.033641
2023-12-19   40714100    -0.038235
2023-12-20   52242800    -0.033414
2023-12-21   46482500    -0.028709

[2259 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  35PctChange
Date
2015-01-02  212818400     0.213680
2015-01-05  257142000     0.216925
2015-01-06  263188400     0.232211
2015-01-07  160423600     0.196910
2015-01-08  237458000     0.158275
...               ...          ...
2023-12-13   70404200    -0.051930
2023-12-14   66831600    -0.044470
2023-12-15  128256700    -0.041302
2023-12-18   55751900    -0.038644
2023-12-19   40714100    -0.039855

[2257 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  37PctChange
Date
2015-01-02  212818400     0.197610
2015-01-05  257142000     0.213807
2015-01-06  263188400     0.219645
2015-01-07  160423600     0.205295
2015-01-08  237458000     0.153340
...               ...          ...
2023-12-11   60943700    -0.028471
2023-12-12   52696900    -0.027785
2023-12-13   70404200    -0.043190
2023-12-14   66831600    -0.049417
2023-12-15  128256700    -0.042917

[2255 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  39PctChange
Date
2015-01-02  212818400     0.185397
2015-01-05  257142000     0.222311
2015-01-06  263188400     0.214448
2015-01-07  160423600     0.177809
2015-01-08  237458000     0.135934
...               ...          ...
2023-12-07   47477700    -0.033922
2023-12-08   53377300    -0.032753
2023-12-11   60943700    -0.019515
2023-12-12   52696900    -0.032818
2023-12-13   70404200    -0.044802

[2253 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  41PctChange
Date
2015-01-02  212818400     0.180346
2015-01-05  257142000     0.194436
2015-01-06  263188400     0.196119
2015-01-07  160423600     0.184611
2015-01-08  237458000     0.117181
...               ...          ...
2023-12-05   66628400    -0.029676
2023-12-06   41089700    -0.015703
2023-12-07   47477700    -0.025017
2023-12-08   53377300    -0.037760
2023-12-11   60943700    -0.021167

[2251 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  43PctChange
Date
2015-01-02  212818400     0.162532
2015-01-05  257142000     0.201334
2015-01-06  263188400     0.176373
2015-01-07  160423600     0.138955
2015-01-08  237458000     0.116642
...               ...          ...
2023-12-01   45679300    -0.018615
2023-12-04   43389500    -0.000686
2023-12-05   66628400    -0.020732
2023-12-06   41089700    -0.020799
2023-12-07   47477700    -0.026659

[2249 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  45PctChange
Date
2015-01-02  212818400     0.143340
2015-01-05  257142000     0.155034
2015-01-06  263188400     0.175806
2015-01-07  160423600     0.151534
2015-01-08  237458000     0.121129
...               ...          ...
2023-11-29   43014200    -0.008924
2023-11-30   48794400    -0.003422
2023-12-01   45679300    -0.009569
2023-12-04   43389500    -0.005860
2023-12-05   66628400    -0.022381

[2247 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  47PctChange
Date
2015-01-02  212818400     0.142789
2015-01-05  257142000     0.167790
2015-01-06  263188400     0.180530
2015-01-07  160423600     0.183679
2015-01-08  237458000     0.152712
...               ...          ...
2023-11-27   40552600    -0.011118
2023-11-28   38415400    -0.005777
2023-11-29   43014200     0.000211
2023-11-30   48794400    -0.008581
2023-12-01   45679300    -0.011237

[2245 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  49PctChange
Date
2015-01-02  212818400     0.147381
2015-01-05  257142000     0.200389
2015-01-06  263188400     0.213787
2015-01-07  160423600     0.187965
2015-01-08  237458000     0.129653
...               ...          ...
2023-11-22   39617700    -0.018974
2023-11-24   24048300    -0.003527
2023-11-27   40552600    -0.002002
2023-11-28   38415400    -0.010924
2023-11-29   43014200    -0.001473

[2243 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  51PctChange
Date
2015-01-02  212818400     0.179703
2015-01-05  257142000     0.204736
2015-01-06  263188400     0.189506
2015-01-07  160423600     0.185263
2015-01-08  237458000     0.136741
...               ...          ...
2023-11-20   46505100    -0.019692
2023-11-21   38134500    -0.007029
2023-11-22   39617700    -0.009931
2023-11-24   24048300    -0.008686
2023-11-27   40552600    -0.003683

[2241 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  53PctChange
Date
2015-01-02  212818400     0.156104
2015-01-05  257142000     0.201995
2015-01-06  263188400     0.196970
2015-01-07  160423600     0.149577
2015-01-08  237458000     0.114759
...               ...          ...
2023-11-16   54412900    -0.010701
2023-11-17   50922700    -0.002056
2023-11-20   46505100    -0.010655
2023-11-21   38134500    -0.012169
2023-11-22   39617700    -0.011599

[2239 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  55PctChange
Date
2015-01-02  212818400     0.163359
2015-01-05  257142000     0.165806
2015-01-06  263188400     0.173822
2015-01-07  160423600     0.148366
2015-01-08  237458000     0.133870
...               ...          ...
2023-11-14   60108400     0.001280
2023-11-15   53790500     0.006861
2023-11-16   54412900    -0.001581
2023-11-17   50922700    -0.007222
2023-11-20   46505100    -0.012322

[2237 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  57PctChange
Date
2015-01-02  212818400     0.140861
2015-01-05  257142000     0.164578
2015-01-06  263188400     0.193946
2015-01-07  160423600     0.159360
2015-01-08  237458000     0.114848
...               ...          ...
2023-11-10   66133400     0.006867
2023-11-13   43627500     0.024351
2023-11-14   60108400     0.010510
2023-11-15   53790500     0.001649
2023-11-16   54412900    -0.003263

[2235 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  59PctChange
Date
2015-01-02  212818400     0.160420
2015-01-05  257142000     0.175727
2015-01-06  263188400     0.173917
2015-01-07  160423600     0.167653
2015-01-08  237458000     0.142663
...               ...          ...
2023-11-08   49340300     0.027543
2023-11-09   53763500     0.039139
2023-11-10   66133400     0.016148
2023-11-13   43627500     0.019048
2023-11-14   60108400     0.008808

[2233 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  61PctChange
Date
2015-01-02  212818400     0.140953
2015-01-05  257142000     0.184137
2015-01-06  263188400     0.203205
2015-01-07  160423600     0.174082
2015-01-08  237458000     0.126961
...               ...          ...
2023-11-06   63841300     0.048526
2023-11-07   70530000     0.042511
2023-11-08   49340300     0.037014
2023-11-09   53763500     0.033760
2023-11-10   66133400     0.014437

[2231 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  63PctChange
Date
2015-01-02  212818400     0.169419
2015-01-05  257142000     0.190657
2015-01-06  263188400     0.186671
2015-01-07  160423600     0.179207
2015-01-08  237458000     0.140420
...               ...          ...
2023-11-02   77334800     0.058328
2023-11-03   79763700     0.073022
2023-11-06   63841300     0.058191
2023-11-07   70530000     0.037114
2023-11-08   49340300     0.035268

[2229 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  65PctChange
Date
2015-01-02  212818400     0.153349
2015-01-05  257142000     0.195854
2015-01-06  263188400     0.200843
2015-01-07  160423600     0.181908
2015-01-08  237458000     0.133242
...               ...          ...
2023-10-31   44846000     0.100470
2023-11-01   56934900     0.089552
2023-11-02   77334800     0.068083
2023-11-03   79763700     0.067468
2023-11-06   63841300     0.056409

[2227 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  67PctChange
Date
2015-01-02  212818400     0.167123
2015-01-05  257142000     0.198594
2015-01-06  263188400     0.193285
2015-01-07  160423600     0.181256
2015-01-08  237458000     0.132075
...               ...          ...
2023-10-27   58499100     0.117152
2023-10-30   51131000     0.113098
2023-10-31   44846000     0.110614
2023-11-01   56934900     0.083912
2023-11-02   77334800     0.066284

[2225 rows x 2 columns]

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               Volume  69PctChange
Date
2015-01-02  212818400     0.159777
2015-01-05  257142000     0.197933
2015-01-06  263188400     0.192057
2015-01-07  160423600     0.162342
2015-01-08  237458000     0.144906
...               ...          ...
2023-10-25   57157000     0.098347
2023-10-26   70625300     0.135775
2023-10-27   58499100     0.127450
2023-10-30   51131000     0.107335
2023-10-31   44846000     0.108743

[2223 rows x 2 columns]